<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mis Publicaciones</title>
    <%- include('layout') %>
</head>

<body>
    <%- include('cabecera') %>
    <div class="publi">
        <div class="cabecera">
            <a href="/todas_publicaciones" class="btn-ver-todas">Ver todas las publicaciones</a>
            <a href="/nueva_publicacion" class="btn-nueva-publicacion">Crear nueva publicación</a>
        </div>
        <ul class="lista">
            <% publicaciones.forEach((publicacion)=> { %>
                <li class="item">
                    <h3 class="sub">
                        <%= publicacion.titulo %>
                    </h3>
                    <p class="sub">
                        <%= publicacion.contenido %>
                    </p>
                    <p>
                        <% if (publicacion.imagen) { %>
                            <img class="img-cargada" src="data:image/jpeg;base64,<%= Buffer.from(publicacion.imagen).toString('base64') %>" alt="Imagen">
                        <% } else { %>
                            <!-- Si no hay imagen, puedes mostrar un marcador de posición o un mensaje -->
                            <p>Sin imagen</p>
                        <% } %>
                    </p>
                    <div class="botones">
                        <a class="editar" href="/editar_publicacion/<%= publicacion.id %>">Editar</a>
                        <a class="eliminar" href="/eliminar_publicacion/<%= publicacion.id %>">Eliminar</a>
                    </div>
                </li>
                <% }); %>
        </ul>
    </div>
    <form class="salir" action="/logout" method="post">
        <button type="submit" class="btn-logout">Cerrar sesión</button>
    </form>
</body>

</html>